<div class="d-flex flex-row justify-content-center">
  <%= google_sign_in_button proceed_to: admin_create_login_url, data: {turbo: "false"}, class: 'btn btn-primary' do %>
      Sign In
  <% end %>
</div>
