---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=random_string&appsecret_proof=3a0b49c1d78957ec5fdba3402772d638208d6c5add0f2f4c896cbe74974f20ec&fields=name,email,picture.height(720).width(720),gender,birthday
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"AMF5y3e4wrY0Emxad92Vh9w"}}'
  recorded_at: Thu, 28 Oct 2021 03:31:23 GMT
recorded_with: VCR 6.0.0
