<div class="jumbotron">
  <h1 class="lead" align='center'>
    The professional dating application.
  </h1>
  <p class="lead" align='center'>
    <a href="#">
      <%= image_tag 'gplay', class: "img-fluid", style: "width: 10%" %>
    </a>
  </p>
</div>